
*.dcu
*.~1~
*.xml
projeto/Android/Debug/ClienteFornecedor.Edicao.o
projeto/Android/Debug/ClienteFornecedor.Main.o
projeto/Android/Debug/Geral.Cadastros.Edicao.Padrao.o
projeto/Android/Debug/Geral.Cadastros.o
projeto/Android/Debug/Geral.Login.o
projeto/Android/Debug/Geral.Main.o
projeto/Android/Debug/Geral.Utils.o
projeto/Android/Debug/libMasVendas.so
projeto/Android/Debug/MasVendas.classes/classes.dex
projeto/Android/Debug/MasVendas.o
projeto/Android/Debug/MasVendas/bin/MasVendas.apk
projeto/Android/Debug/MasVendas/bin/MasVendas.apk.idsig
projeto/Android/Debug/MasVendas/classes/classes.dex
projeto/Android/Debug/MasVendas/debug/libMasVendas.so
projeto/Android/Debug/MasVendas/library/lib/armeabi-v7a/gdbserver
projeto/Android/Debug/MasVendas/library/lib/armeabi-v7a/libMasVendas.so
projeto/Android/Debug/MasVendas/library/lib/armeabi/libMasVendas.so
projeto/Android/Debug/MasVendas/library/lib/mips/libMasVendas.so
projeto/Android/Debug/MasVendas/res/drawable-hdpi/ic_launcher.png
projeto/Android/Debug/MasVendas/res/drawable-hdpi/ic_notification.png
projeto/Android/Debug/MasVendas/res/drawable-large/splash_image.png
projeto/Android/Debug/MasVendas/res/drawable-ldpi/ic_launcher.png
projeto/Android/Debug/MasVendas/res/drawable-mdpi/ic_launcher.png
projeto/Android/Debug/MasVendas/res/drawable-mdpi/ic_notification.png
projeto/Android/Debug/MasVendas/res/drawable-normal/splash_image.png
projeto/Android/Debug/MasVendas/res/drawable-small/splash_image.png
projeto/Android/Debug/MasVendas/res/drawable-xhdpi/ic_launcher.png
projeto/Android/Debug/MasVendas/res/drawable-xhdpi/ic_notification.png
projeto/Android/Debug/MasVendas/res/drawable-xlarge/splash_image.png
projeto/Android/Debug/MasVendas/res/drawable-xxhdpi/ic_launcher.png
projeto/Android/Debug/MasVendas/res/drawable-xxhdpi/ic_notification.png
projeto/Android/Debug/MasVendas/res/drawable-xxxhdpi/ic_launcher.png
projeto/Android/Debug/MasVendas/res/drawable-xxxhdpi/ic_notification.png
projeto/Android/Debug/Produto.Edicao.o
projeto/Android/Debug/Produto.Main.o
projeto/Android/Debug/uCEP.o
projeto/Android/Debug/uCNPJ.o
projeto/Android/Debug/uPixMercadoPago.o
projeto/MasVendas.deployproj
projeto/MasVendas.dproj.local
projeto/MasVendas.identcache
projeto/MasVendas.res
scr/Geral/__history/Geral.Configuracao.Main.fmx.~2~
scr/Geral/__history/Geral.Configuracao.Main.fmx.~3~
scr/Geral/__history/Geral.Configuracao.Main.fmx.~4~
scr/Geral/__history/Geral.Configuracao.Main.fmx.~5~
scr/Geral/__history/Geral.Configuracao.Main.fmx.~6~
scr/Geral/__history/Geral.Configuracao.Main.fmx.~7~
scr/Geral/__history/Geral.Configuracao.Main.pas.~2~
scr/Geral/__history/Geral.Configuracao.Main.pas.~3~
scr/Geral/__history/Geral.Configuracao.Main.pas.~4~
scr/Produto/__history/Produto.Edicao.fmx.~2~
scr/Produto/__history/Produto.Edicao.fmx.~3~
scr/Produto/__history/Produto.Edicao.fmx.~4~
scr/Produto/__history/Produto.Edicao.fmx.~5~
scr/Produto/__history/Produto.Edicao.fmx.~6~
scr/Produto/__history/Produto.Edicao.fmx.~7~
scr/Produto/__history/Produto.Edicao.fmx.~8~
scr/Produto/__history/Produto.Edicao.pas.~2~
scr/Produto/__history/Produto.Edicao.pas.~3~
scr/Produto/__history/Produto.Edicao.pas.~4~
scr/Produto/__history/Produto.Edicao.pas.~5~
scr/Geral/__history/Geral.Main.fmx.~2~
scr/Geral/__history/Geral.Configuracao.Main.pas.~5~
scr/Geral/__history/Geral.Configuracao.Main.fmx.~8~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~9~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~8~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~7~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~6~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~5~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~4~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~3~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~12~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~11~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.pas.~10~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~9~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~8~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~7~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~6~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~5~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~4~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~3~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~12~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~11~
scr/Geral/__history/Geral.Configuracao.DadosEmpresa.fmx.~10~
projeto/__history/MasVendas.dpr.~2~
projeto/__history/MasVendas.dpr.~3~
projeto/__history/MasVendas.dpr.~4~
projeto/__history/MasVendas.dpr.~5~
projeto/__history/MasVendas.dpr.~6~
projeto/__history/MasVendas.dpr.~7~
projeto/Android/Debug/Geral.Configuracao.DadosEmpresa.o
projeto/Android/Debug/Geral.Configuracao.Main.o
projeto/Win32/Debug/MasVendas.exe
scr/Configuracao/__history/Configuracao.Main.fmx.~2~
scr/Geral/__history/Configuracao.Main.fmx.~2~
scr/Geral/__history/Configuracao.Main.pas.~2~
scr/Geral/__history/Geral.Main.fmx.~3~
scr/Geral/__history/Geral.Main.pas.~2~
